body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   
}

.titulo h1, .titulo p{
    margin: 0;
    color: #FFF;
    font-weight: bold;
}

.container{
    max-width: 1920px;
    width: 100%;
}

/* header */
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/* hide on desktop */ 
.nav-container .btn-menumobile {
    display: none;
}

/* navbar */
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    max-width: 100%;
    border-bottom: 2px solid #CCC;
}

.nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    background-color: #FFF;
    max-width: 100%;
    height: auto;
    position: relative;
}

#logo{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 20px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: #666;
    transition: 5s;
}

.nav-container li a:hover {
    text-decoration: none;
    color: #666;
    transition: 5s;
}

/* send jobs page */
#sendjobs #sendjobs-container {
    margin-top: 100px;
    padding: 5em 0;
    margin-left: 20px;
}

#sendjobs h1 {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}

.input-box {
    margin-bottom: 2em;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#sendjobs label {
    text-transform: uppercase;
    color: #735fee;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

#sendjobs input,
#sendjobs textarea,
#sendjobs select {
    padding: 10px 20px;
}

#sendjobs input {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#sendjobs textarea, #sendjobs select {
    border: 1px solid #ccc;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#sendjobs input[type=submit] {
    width: 200px;
    float: right;
}

/* footer */
footer {
    background-color: #735fee;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 5px solid #fff;
}

footer h2, footer p, footer a, footer span {
    color: #fff;
}

footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-box {
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper:after {
    clear: both;
    content: "";
    display: block;
}

.company-footer {
    width: 80%;
}

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}

.footer-list li{
    margin-bottom: 15px;
}

.footer-list a {
    transition: .5s;
}

.footer-list a:hover {
    color: #fff;
}

.articles-footer {
    width: 80%;   
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
   padding-top: 20px;
   padding-bottom: 90px;
   text-align: center;
   width: 100%;
   position: relative; 
}

.footer-bottom::after {
    content: "";
    display: block;
    width: 80%;
    height: 0.5%;
    margin: 0 auto;
    background-color: #fff;
    margin: 20px auto 0 auto;
    position: absolute;
    bottom: 70px;
    left: 10px;
    right: 10px;
}

.footer-bottom p {
   margin: 0;
   padding: 0;
   position: relative;
   top: 180px;
   left: 0;
   width: 100%;
   /* padding-top: 20px; */
   font-weight: normal;
   color: #fff;
   text-align: left;
}

/* responsive */

    /* responsive laptop */
    @media screen and (max-width: 1024px) {
    
        html, body {
            overflow-x: hidden;
        }
    
        #logo {
            width: 7em;
            height: 8em;
        }   
    
        .nav-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;
        }
    
        nav{
            position: fixed;
            top: 0;
            height: 180px;
            z-index: 1;
            background-color: #FFF;
            border-bottom: 1px solid #CCC;
        }
    
        .nav-container ul {
            display: inline-block;
            padding: 0;
            text-align: center;
            margin-bottom: 10px;
            top: 10px;
        }
    
        .nav-container ul li {
            display: inline-block;
            font-size: 26px;
        }
         
        .footer-bottom p {
            margin: 0;
            padding: 0;
            position: relative;
            top: 160px;
            left: 0;
            width: 100%;
            font-weight: normal;
            color: #fff;
            text-align: left;
         }
    }
    
        /* responsive tablet */
    @media screen and (max-width: 768px) {
    
        #logo {
            width: 5em;
            height: 6em;
            margin-top: 20px;
        }
    
        .nav-container {
            height: 110px;
            max-width: 768px;
        }
    
        .nav-container ul {
            margin-top: -20px;
            margin-bottom: 10px;
        }
    
        .nav-container ul li {
            font-size: 22px;
        }
    
        .footer-box img {
            height: 210px;
            width: 200px;
        }
         
        .footer-bottom::after {
            content: "";
            display: block;
            width: 80%;
            height: 0.5%;
            margin: 0 auto;
            background-color: #fff;
            margin: 20px auto 0 auto;
            position: absolute;
            bottom: 50px;
            left: 10px;
            right: 10px;
        }
        
        .footer-bottom p {
            margin: 0;
            padding: 0;
            position: relative;
            top: 200px;
            left: 0;
            width: 100%;
            font-weight: normal;
            color: #fff;
            text-align: left;
         }
    }    
    
        /*responsive mobile*/
    @media screen and (max-width: 576px) {
    
        .nav {
            border-bottom: 1px solid #ccc;
            top: 10px;
        }
    
        .nav-container .btn-menumobile {
            display: block !important;
            font-size: 32px;
            left: 58%;
            top: 45px;
        }
    
        .nav-container ul {
            display: none;
            position: relative;
            top: -8px;
            height: 50px;
            line-height: 3em;
            padding: 0;
            margin: 0;
            width: 100%;
        }
    
        .nav-container ul.open {
            display: block;
        }
    
        .nav-container li {
            display: block;
            background-color: #fff;
            margin: 0;
            border-top: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }
    
        .nav-container li a {
            font-size: 1em;
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
            width: 100%;
        }
    
        .nav-container li:hover {
            background-color: #735fee;
            color: #ffffff;
        }
        
        html, body {
            overflow-x: hidden;
        }
        
        #logo {
            left: 20px;
            height: 6em;
            width: 5em;
            margin-top: 2em;
        }
        
        .btn-menumobile {
            display: block;
            font-size: 1.75em;
            color: #CCC;
            position: absolute;
            right: 30px;
            top: 40px;
        }
        
        .open {
            display: block !important;
        }
    
        .footer-box {
            display: block;
            width: 100%;
        }
    
        .footer-box img {
            height: 130px;
            width: 100px;
        }
    
        .footer-box h2, .articles-footer h2 {
            font-size: 24px;
        }
    
        .footer-box p, 
        .articles-footer ul li a {
            font-size: 16px;
        }
    
        .articles-footer span {
            font-weight: 12px;
        }
    
        .articles-footer i {
            font-weight: 40px;
        }
    
        .footer-bottom p {
            top: 80px;
            text-align: center;
        }
    
    }